<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Sterling Solution Employee: Database</h2>-->

<!--<a href="/"> Home </a><br>-->
<!--<a href="/listemployee"> All Employee </a><br>-->
<!--<a href="/listdepartment"> All Department</a>-->
<!--<a href="/addemployee"> Add Employee</a>-->
<!--<a href="/adddepartment"> Add Department</a>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="jumbotron text-centex">
        <h1 style="color:blue"> Home Page  </h1>
    </div>
</head>
<body>
<a href="/"> Home </a><br>
<a href="/departmentform"> Add Department</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/employeeform"> Add Employee</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/employeelist"> All Employee </a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/departmentlist"> All Department</a>&nbsp;&nbsp;

</body>
</html>