<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head style="background-color:green;">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="jumbotron text-centex">

        <h3 style="color:blue">
            <strong>
                <!--<img src="cinqueterre.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">-->

                <p class="text-center">    Wellcome To Home Page</p>
            </strong>
        </h3>
    </div>
</head>
<body>


<div class="container-fluid">
    <body style="background-color:rosybrown;">
    <div class="row">

        <div class="col-sm-2">
            <a href="/">
                <dt>Home </dt>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div class="col-md-2">
            <a href="/departmentform">
                <dt> Add Department</dt>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-sm-2">
            <a href="/employeeform">
                <dt> Add Employee</dt>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div class="col-sm-2">
            <a href="/employeelist">
                <dt>All Employee </dt>
            </a> &nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div class="col-sm-2">
            <a href="/departmentlist">
                <dt>All Department</dt>
            </a>&nbsp;&nbsp;

        </div>
    </div>
</div>
</body>
</html>